<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/register.css">
    <title>PokerStars</title>
</head>
<body>
    <header>
        
    </header>

    <main class="center">
        <form method="post" action="" class="register">
            <p>
              <label for="register">Логин:</label>
              <input type="text" name="register" id="register" placeholder="name@example.com">
            </p>
        
            <p>
              <label for="password">Пароль:</label>
              <input type="password" name="password" id="password">
            </p>
        
            <p class="register-submit">
              <button type="submit" class="register-button">Войти</button>
            </p>
        
            <p class="forgot-password"><a href="/">Забыл пароль?</a></p>
          </form>
    </main>

    <footer>

    </footer>

</body>
</html>